.form-control {
  max-width: 30%;
}

button {
  margin-top: 30px;
}

body {
  background-color: #190E4F;
  color: #D8DB94;
  overflow: auto;
  margin: 10px;
}

.title {
  background-color: #03012C;
  text-align: center;
  width: 100%;
  height: 10rem;
  color: #D8DBE2;
  padding-top: 3%;
}

.title h1 {
  font-size: 60px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.left {
  background-color: #8D6B94;
  height: 40rem;
  font-size: 60px
}

#output{
  max-height: 35rem;
  overflow-y: scroll;

}
